.page-header
  %h1=t '.title'

.row
  .span4
    = link_to t('.new'), new_admin_lecture_path, class: 'btn btn-primary'
%br

%table.table.table-striped
  %thead
    %tr
      %th= ham(:lecture, :name)
      %th= ham(:lecture, :user)
      %th= ham(:lecture, :state)
      %th
  %tbody
    - @lectures.each do |lecture|
      %tr
        %td= link_to lecture.name, edit_admin_lecture_path(lecture)
        %td= lecture.user_full_name
        %td= lecture.human_state_name
        %td
          .pull-right.btn-group
            = link_to edit_admin_lecture_path(lecture), class: 'btn btn-mini' do
              %i.icon-pencil
