.row.nested-fields
  .span7
    .well
      .control-group
        = f.association :lecture, collection: Lecture.in_schedule, label_method: :name, value_method: :id, as: :choosen_select, input_html: { class: 'span4 span-nomargin' }
      .control-group
        .control-label
          = t('.time_from_till')
        .controls
          = f.input_field :start_time, as: :date_time_picker, input_html: {class: 'span2'}
          = f.input_field :finish_time, as: :date_time_picker
        = link_to_remove_association t('.delete'), f, class: 'btn btn-danger pull-right'

