.page-header
  %h1= t '.title'

.row
  .span4
    = link_to t('.new'), new_admin_hall_path, class: 'btn btn-primary'

%br

%table.table.table-striped
  %thead
    %tr
      %th= ham(:hall, :name)
      %th= t(".count_slots")
  %tbody
    - @halls.each do |hall|
      %tr
        %td= link_to hall.name, edit_admin_hall_path(hall)
        %td= hall.slots_count
        %td
          .pull-right.btn-group
            = link_to edit_admin_hall_path(hall), class: 'btn btn-mini' do
              %i.icon-pencil
